[Desktop Entry]
Name=Redpletu
X-KDE-PluginInfo-Name=Redpletu
X-KDE-PluginInfo-Author=Sahan Rasanjana
X-KDE-PluginInfo-Email=sahan.user@gmail.com
X-KDE-PluginInfo-License=CC BY-SA 4.0
 
