[Desktop Entry]
Comment=Aster Linux Plasma Theme
Name=space
X-KDE-PluginInfo-Author=Sahan Rasanjana
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=sahan.user@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-Name=space
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=asterlinux.github.io
X-KDE-ServiceTypes=Plasma/LookAndFeel
