[Desktop Entry]
Name=Dark-Space
X-KDE-PluginInfo-Author=Sahan Rasanjana
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=sahan.user@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Dark-Space
X-KDE-PluginInfo-Version=1.0.0
